/*
 GLOBAL CSS ONLY!
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after,
*:visited {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: unset;
  list-style: none;
}

body {
  background: linear-gradient(to bottom, black 0%, #242424 100%);
  color: white;
  max-width: clamp(340px, 100vw, 1440px);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center center;
  margin-inline: auto;
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
}

main {
  height: 100%;
  margin-inline: auto;
  padding-block: 1rem;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: clamp(2.75em, 4rem, 10vw);
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 3.5rem);
}

p {
  font-size: clamp(0.85rem, 1.5vw, 1rem);
}

a {
  text-decoration: none;
  color: unset;
}
