@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: hsl(220 13.376% 69.216%);
  --bg-gradient: linear-gradient(
    0deg in oklab,
    oklch(35% 0.5 313) -28% -28%,
    38%,
    oklch(0% 0 100) 99% 99%
  );
  --grad-one: oklch(64% 0.53 16);
  --grad-two: oklch(66% 0.64 322);
  --grad-three: oklch(58% 0.51 277);
  color: var(--color);
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html[class='light'] {
  color: #23252d;

  --bg-gradient: linear-gradient(
    to bottom left in,
    oklch(44% 0 0) 0%,
    18%,
    oklch(100% 0 0) 100%
  );

  & .project__card-link {
    color: oklch(58.5% 0.5 277);
    text-decoration: underline;
    font-weight: 700;
  }
}

div#main__div {
  background: var(--bg-gradient);
}

.project__card-link {
  font-weight: 700;
  color: var(--grad-three);
}
.project__card-link:hover {
  scale: 1.1;
}

.page__heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.project__card {
  padding: 1rem;
}

.project__card h1 {
  font-size: 2rem;
}

h2.project__card-title {
  font-size: clamp(1rem, 1.5rem, 2rem);
}

img.project__card-screenshot {
  width: clamp(300px, 90vw, 700px);
  height: auto;
  filter: drop-shadow(0 0 0.75rem black);
  border-radius: 1ch;
  margin-block: 1rem;
}
